.questions{
  height: body;
  width: 100vw;
  display: flex;
  background-color: #fcfaef;
  align-items: center;
  flex-direction: column;
}

.question{
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.question h4, p, input{
  margin: 0 10px;
}
.question h4{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.text-question{
  margin-bottom: 10px;
}

.alternatives{
  display: flex;
  flex-direction: column;
}

.alternative{
  display: flex;
  padding: 2px 0;
}
.alternative label{
  color: black;
}